@font-face {
	font-family: 'Arkipelago';
	src:url('../../vendor/fonts/Arkipelago.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Pierce';
	src:url('../../vendor/fonts/Pierce.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HerrFoch-Gradient';
	src:url('../../vendor/fonts/HerrFoch-Gradient.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HerrFoch-Trash';
	src:url('../../vendor/fonts/HerrFoch-Trash.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GelDotica';
	src:url('../../vendor/fonts/GelDoticaPlain.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Beam101';
	src:url('../../vendor/fonts/Beam101.ttf');
	font-weight: normal;
	font-style: normal;
}